.inventory {
  .header {
    .inventory-tab-1 {
      background-color: #fff;
      width: 15%;
      height: 40px;
      margin: 0.65rem 0.35rem;
    }
  }
  .custom-col-content-layout {
    padding-left: 2rem !important;
  }
}
